:root,
:root.dark {
  --bgColor: #282a36;
  --fgColor: #D6D6D6;
  --metaColor: #f5e5bc;
  --linkColor: #faa719;
  --codebgColor: #2b303b;
}

/* Text selection */
::-moz-selection {
  color: var(--bgColor);
  background: var(--metaColor)
}

::selection {
  color: var(--bgColor);
  background: var(--metaColor)
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-color: var(--metaColor) var(--bgColor);
}

body {
  background-color: var(--bgColor);
  color: var(--fgColor);
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 35rem;
  margin: auto;
  padding: 0.4rem;
  overflow-wrap: break-word;
  text-align: justify;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  text-wrap: balance;
}

a {
  text-decoration: none;
  padding: 0.2rem .2rem 0.2rem .2rem;
  border-radius: .4rem;
  color: var(--linkColor);
}

a:hover {
  background-color: var(--linkColor);
  color: var(--bgColor)
}

ul {
  list-style: square;
  margin-top: .5rem;
  margin-bottom: .5rem;
  line-height: 1.45;
}

ul li {
  padding-left: .8rem;
}

ul li::marker {
  color: var(--metaColor)
}

ol {
  margin-left: .8rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  line-height: 1.45;
}

ol li::marker {
  color: var(--metaColor);
}

blockquote {
  border-left: 5px solid var(--metaColor);
  margin: 1rem;
  padding: 0 0 0 1rem
}

textarea {
  border: 2px dotted;
  outline: 0;
  resize: none;
  overflow: auto;
  background-color: var(--bgColor)
}

hr {
  border: none;
  border-top: 2px solid;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
  padding: .2rem;
  border: solid 1px var(--metaColor);
}

pre {
  border: 1px solid var(--metaColor);
  padding:  1rem;
  overflow-x: auto;
  font-style: monospace;
}

p code,
li code,
div code {
  color: var(--metaColor);
  background-color: var(--codebgColor);
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  line-height: 1.2
}

thead th {
  border-bottom: solid 1px var(--metaColor);
}

td,
th {
  text-align: left;
  padding: .5rem;
  border: dashed 1px var(--metaColor)
  border: none;
}

footer {
  font-size: 0.9rem;
}

.footContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.meta,
hr {
  color: var(--metaColor)
}

.pagination,
.navBar {
  padding: 1rem 0 1rem 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.titleList {
  line-height: 2.0;
}

.footnote-definition {
  font-size: 1rem;
  text-align: left;
  margin-left: 1rem;
}

.footnote-definition-label {
  color: var(--linkColor);
}

.footnote-definition p {
  display: inline;
  padding-left: 1rem;
}

